#MySQLServer version: 8.0.21 MySQL Community Server - GPL
Python==3.7
Django==1.11.29
Mezzanine==4.3.1
django-leaflet==0.26.0
matplotlib==3.0.2
mysql==0.0.2
mysql-connector==2.2.9
mysql-connector-python==8.0.21
mysqlclient==1.4.6
numpy==1.61.2
scrapy==2.0.0
urllib3==1.24.2
openrouteservice==2.3.0
shapely==1.7.0
setuptools=40.8.0
