{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}
{% load staticfiles %}
{% load i18n %}
{%block extra_js}
  <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
{%endblock}
{% block meta_title %}{% trans "Map" %}{% endblock %}
{% block title %}{% trans "Map" %}{% endblock %}
{% block extra_css  %}
  {% leaflet_css %}
  <!--<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
  <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
{% endblock %}
{% block main %}
  <div class="filtersSection">
    <select name="StatesM" class="list" id="list" onchange="stateSelect()">
      <option disabled="" selected="">Choose your state</option>
      <option value="All" id="All">Todo el país</option>
      <option value="AG" id="AG" >Aguascalientes</option>
      <option value="BC" id="BC" >Baja California</option>
      <option value="BS" id="BS" >Baja California Sur</option>
      <option value="CM" id="CM" >Campeche</option>
      <option value="CS" id="CS" >Chiapas</option>
      <option value="CH" id="CH" >Chihuahua</option>
      <option value="DF" id="DF" >Ciudad de México</option>
      <option value="CO" id="CO" >Coahuila</option>
      <option value="CL" id="CL" >Colima</option>
      <option value="DG" id="DG" >Durango</option>
      <option value="GJ" id="GJ" >Guanajuato</option>
      <option value="GR" id="GR" >Guerrero</option>
      <option value="HG" id="HG" >Hidalgo</option>
      <option value="JA" id="JA" >Jalisco</option>
      <option value="MX" id="MX" >Estado de México</option>
      <option value="MI" id="MI" >Michoacan</option>
      <option value="NA" id="NA" >Nayarit</option>
      <option value="NL" id="NL" >Nuevo Leon</option>
      <option value="OA" id="OA" >Oaxaca</option>
      <option value="PU" id="PU" >Puebla</option>
      <option value="QT" id="QT" >Queretaro</option>
      <option value="QR" id="QR" >Quintana Roo</option>
      <option value="SL" id="SL" >San Luis Potosi</option>
      <option value="SI" id="SI" >Sinaloa</option>
      <option value="SO" id="SO" >Sonora</option>
      <option value="TB" id="TB" >Tabasco</option>
      <option value="TM" id="TM" >Tamaulipas</option>
      <option value="TL" id="TL" >Tlaxcala</option>
      <option value="VE" id="VE" >Veracruz</option>
      <option value="YU" id="YU" >Yucatan</option>
      <option value="ZA" id="ZA" >Zacatecas</option>
    </select>
  </div>
  <hr>
  <div class="mainMap">
    <div id="mapid" style="width: 90%; height: 600px;"></div>
    <script src="{% static 'mezzanine_gasStation_map/js/jquery-3.5.1.min.js' %}" charset="utf-8"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <script src="{% static 'mezzanine_gasStation_map/js/main.js' %}" charset="utf-8"></script>
  </div>
  <hr>
  <div class="tableInfo">
  </div>
  <hr>
  <table>
    <thead>

    </thead>
    <tbody>

    </tbody>
  </table>
  <p>Basado en datos de la <a href="https://www.gob.mx/cre"> Comisión Reguladora de Energía </a></p>
{% endblock %}
